//import lib Bootstrap
$bootstrap-icons-font-dir: "~bootstrap-icons/font/fonts";

$body-bg: #fff;
$body-secondary-bg: #e9e6df;
$body-tertiary-bg: #bbaca5;
$menu-color: #bfb2a9;
$primary: #4eb8b4;
$primary-text-emphasis: #e9feff;


@import "~bootstrap/scss/bootstrap";
@import "~normalize-css/normalize.css";

@import "search";
@import "header";
@import "root";
